#textarea{
  height: 15vh;
  width: 100%;
}
#rec{
  height: 23vh;
  overflow-y: scroll !important;
}
#userRecipe, #userGList, #userFrid, #sRecipes, #createR, #createS, #createF, #rec {
  overflow-y: scroll !important;
}
#userStuff {
  height: 30vh !important;
}
.card{
  height: 45vh;
  overflow-y: scroll;
}
#form{
  padding-top: 3vh;
}
.maxs{
  font-size: .8em;
}
