
<div ng-controller="DashCtrl" class="container">
  <h2>Welcome to FMS {{data.name}}</h2>
  <div class="divider">

  </div>
  <div class="row section">
    <div class="col s6 l6 m6 card">
      <h3>Recipes</h3>
      <div id="userRecipe">
        <div ng-repeat="recipe in recipes">
          <h4>{{recipe.name}}</h4><button ng-click="removeRec(recipe.name)">Delete Recipe</button>
          <h5>Ingredients</h5>
          <ul ng-repeat="ing in recipe.ingredients track by $index">
            <li ng-if="ing" id="$index">
              {{ing}}
              <button ng-click="removeIng(recipe.name, ing)">Remove</button>
            </li>
            <button ng-click="fuck=!fuck">Edit</button>
            <div ng-show="fuck">
              <input type="text" ng-model="editIng" placeholder={{ing}}/>
              <button ng-click="editIngredient(recipe.name, ing, editIng); musa = null">Confirm</button>
            </div>
          </ul>
          <hr />
          <h5>Instructions</h5>
          {{recipe.description}}<br />
          <button ng-click="showEdit=!showEdit">Edit Instructions</button>
          <div ng-show="showEdit">
            <textarea id="textarea" ng-model="newD" rows="150" columns="60"></textarea>
            <button ng-click="descriptor(recipe.name, newD)">Submit Edits</button>
          </div>
          <button ng-click="showNewIng=!showNewIng">Add Ingredient</button>
          <div ng-show="showNewIng">
            <input type="text" ng-model="newIng" placeholder="new ingredient" />
            <button ng-click="newIngredient(recipe.name, newIng); newIng = null; showNewIng=!showNewIng">Confirm</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col s5 l5 m5 card push-m1 push-l1" id="userGList">
      <h3>Grocery Lists</h3>
      <div ng-repeat="gList in gLists">
        <h5>{{gList.name}}</h5>
        <button ng-click="removeList(gList.name)">Delete List</button>
        <ul ng-repeat="list in gList.listItems track by $index">
          <li ng-if="list">{{list}}</li>
          <button ng-click="removeItem(gList.name, list)">Remove</button><button ng-click="editL=!editL">Edit Item</button>
          <div ng-show="editL">
            <input type="text" ng-model="eLI" placeholder="new item"/>
            <button ng-click="editGItem(gList.name, list, eLI); eLI = null; editL=!editL">Confirm</button>
          </div>
        </ul>

        <button ng-click="addListItem=!addListItem">Add to List</button>
        <div ng-show="addListItem">
          <input type="text" ng-model="nLI" placeholder="new item"/>
          <button ng-click="addItem(gList.name, nLI); nLI = null">Confirm</button>
        </div>
      </div>
    </div>
    </div>
    <div class="row section">
      <div class="col s12 l6 m6 card" id="userFrid">
        <h3>Fridge</h3>
        <div ng-repeat="fridge in fridges">
          <h5>{{fridge.name}}</h5><button ng-click="removeFri(fridge.name)">Delete Fridge</button>
          <ul ng-repeat="item in fridge.inventory track by $index">
            <li ng-if="item">{{item}}</li>
            <button ng-click="editF=!editF">Edit Item</button>
            <div ng-show="editF">
              <input type="text" ng-model="eFI" placeholder="new item"/>
              <button ng-click="editFItem(fridge.name, item, eFI); eFI = null; editF=!editF">Confirm</button>
            </div><button ng-click="removeInv(fridge.name, item)">Remove</button>
          </ul>
          <button ng-click="showAddIn=!showAddIn">Add to Fridge</button>
          <div ng-show="showAddIn">
            <input type="text" ng-model="newInv" placeholder="add to fridge"/>
            <button ng-click="addInven(fridge.name, newInv); newInv = null">Confirm</button>
          </div>
        </div>
      </div>
      <div class="col s12 l5 m5 card push-m1 push-l1" id="sRecipes">
        <h3>Saved Recipes</h3>
        <div ng-repeat="save in mySaves">
          <ul>
            <li ng-if="save">
              <a ng-href={{save.url}} target="_blank">{{save.name}}</a>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col s3 m3 l3">
      <button ng-click="hideCard1=!hideCard1">Create a Recipe</button>
    </div>
    <div class="col s3 m3 l3">
      <button ng-click="hideCard2=!hideCard2">Create a Grocery List</button>
    </div>
    <div class="col s3 m3 l3">
      <button ng-click="hideCard3=!hideCard3">Create a Fridge Inventory</button>
    </div>
    <div class="col s3 m3 l3">
        <button ng-click="hideCard4=!hideCard4">Search Pre-built Recipes</button>
    </div>
  </div>




  <div class="divider"></div>

    <div class="section" id="userStuff" ng-show="hideCard1">
      <div class="card" id="createR">
        <form>
          <label>Create Recipe</label>
          <input type="text" placeholder="Recipe Name" ng-model="recipeName" />
          <textarea placeholder="Boil water and add pasta." ng-model="description" id="textarea" rows="100" cols="60"></textarea>
          <input type="text" placeholder="Ingredient" ng-model="ingredient" />
          <button ng-click="createRecipe(); recipeName = null; description = null; ingredient = null">Create New Recipe</button>
        </form>
      </div>
    </div>
    <div class="section" ng-show="hideCard2" id="createS">
      <div class="card" >
        <form>
          <label>Create Shopping List</label><br />
          <input type="text" placeholder="List Name" ng-model="gName"/>
          <input type="text" placeholder="Grocery List Item" ng-model="gItem1"/>
          <button ng-click="createList(); gName = null; gItem1 = null">Create New Shopping List</button>
        </form>
      </div>
    </div>
    <div class="section" id="createF" ng-show="hideCard3">
      <div class="card">
        <form>
          <label>In My Fridge</label>
          <input type="text" placeholder="Fridge" ng-model="fName"/>
          <input type="text" placeholder="Fridge Item" ng-model="fItem1"/>
          <button ng-click="createFridge(); fName = null; fItem1 = null">Create New Fridge inventory List</button>
        </form>
      </div>
    </div>
    <div class="row" ng-show="hideCard4">
        <div class="col s12 m5 l5 card">
          <form id="form">
            <input type="text" ng-model="searchItem1" />
            <input type="text" ng-model="searchItem2" />
            <input type="text" ng-model="searchItem3" />
            <button ng-click="searchRecipes(); preBui=!preBui; searchItem1=null; searchItem2=null; searchItem3=null">Find a recipe</button>
          </form>
        </div>
        <div class="col s12 m6 l6 push-m1 push-l1 card" ng-show="preBui">
          <div ng-repeat="heck in hHeck">
            <a ng-click="getRecipe(heck.id); heck.id =!heck.id" id={{heck.id}} class="btn-flat btn-medium maxs">{{heck.title}}</a><br />
            <div ng-show="!heck.id">
              <h5>{{heck.title}}</h5>
              <p>
                {{specific.readyInMinutes}} Minutes to Prepare
              </p>
              <p>
                {{specific.instructions}}
              </p>
              <h5>Ingredients</h5>
              <ul ng-repeat="ingred in specific.extendedIngredients track by $index">
                <li>
                  {{ingred.originalString}}
                </li>
              </ul>
              <a ng-href={{specific.sourceUrl}} target="_blank">Click to see whole recipe</a>
              <br />
              <button ng-click="saveRecipe(heck.title, specific.sourceUrl)">Save recipe</button>
            </div>
          </div>
        </div>



</div>
