
    <div ng-controller="AuthCtrl" class="container">
      <div class="row">
        <h1 class="center-align">Welcome to FMS</h1>
        <div class="row center-align">
          <button ng-click="showNew()" ng-hide="!returning"> New User Sign Up</button>
        </div>
        <div class="row center-align">
          <button ng-click="showReturning()" ng-hide="!new"> Login for Returning Users</button>
        </div>
        <div ng-hide="new" class="row center-align">
          <div class="col s12 m12 l12">
            Email: <input type="text" ng-model="email">
            Password: <input type="password" ng-model="password">
            Name: <input type="text" ng-model="name" />
            <br><br>
            <button ng-click="createUser()">Create User</button>
            <br><br>
            <p ng-if="error">Error: <strong>{{ error }}</strong></p>
          </div>
        </div>

        <div ng-hide="returning" class="row center-align">
          <div class="col s12 m12 l12">
            Email: <input type="text" ng-model="email">
            Password: <input type="password" ng-model="password">
            <button ng-click="signIn()">Sign In</button>
            <p ng-if="error">Error: <strong>{{ error }}</strong></p>
          </div>
        </div>
      </div>
    </div>
